 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# MRI Test Files
*.tmp
*.nii.gz
*.nii
*.dicom

# OS Specific
.DS_Store
Thumbs.db

# WSL/Configuration backups

.wslconfig.bak
